* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;

}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #011627;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-weight: bolder;
}